@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
:root{
    --primary: #FF900E;
    --secondary: rgba(255, 144, 14, 0.1);
    --dark: #131313;
    --font-color: #727272;
}
.full-width{
    max-width: 1440px;
    margin: 0 auto;
    padding-right: 2%;
    padding-left: 2%;
}
.fluid-img{
    width: 99%;
    height: auto;
    margin: 0 auto;
}
.paragraph-text{
    font-size: 16px;
    font-weight: 400;
    color: var(--font-color);
    line-height: 20px;
    margin: 20px auto;
}
.btn-primary{
    padding: 20px 25px;
    border: none;
    background-color: var(--primary);
    color: white;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    margin-top: 22px;
}

/* ---------------------------------------------------------------- 
                        style start
 ---------------------------------------------------------------- */
header{
    background-color: var(--secondary);
}
 .header-section, .nav-items{
    display: flex;
    background-color: #FF900E;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: var(--dark);
}
.nav-bar{
    display: none;
}
.item{
    list-style: none;
    padding-right: 40px;
}

/* banner-section */
.banner-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.banner-content{
    width: 780px;
    text-align: center;
    padding: 50px 5px;
}
.banner-content h3{
    font-size: 64px;
    margin: 10px auto;
    font-weight: 700;
}
.banner-img img{
    margin-bottom: 45px;
}

/* feature section */
.feature-section{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.feature-imgs{
    margin: 61px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    column-gap: 10px;
}
.feature-content{
    width: 537px;
    margin: auto 10px;
}
/* .feature-content p{
    margin: 20px 0;
} */
.span-1, .span-2, .span-3{
    font-size: 45px;
}
.span-1{
    font-weight: 300;
    color: var(--font-color);
}
.span-2{
    color: var(--dark);
}
.span-3{
    color: var(--primary);
}
.span-2, .span-3{
    font-weight: 900;
}

/* experience section */

.experience-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
}
.experience-content{
    /* width: 40%; */
}
.year-span{
    font-size: 95px;
}
.year-btn{
    margin-top: -250px;
    margin-left: -50px;
}
.exp-title{
    font-size: 45px;
    font-weight: 700;
    padding: 10px;
    margin-bottom: 20px;
    border-left: 10px solid var(--primary);
}
.exp-sub-title{
    font-weight: 600;
    font-size: 20px;
}
.exp-cards{
    margin: 20px auto;
}
.card{
    padding: 30px;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.experience-img{
    margin-left: 60px;
}

/* collection section */
.collection-section{}

/* .collection-item{
    background-color: var(--primary);
    padding: 15px;
} */
.collection-item-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.collection-item{
    /* width: 329px; */
    /* height: 476px; */
    margin: 0 auto;
    padding: 15px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: #fff;
}
.item-title{
    font-weight: 500;
    font-size: 28px;
    color: var(--font-color);
}
.item-price{
    font-weight: 400;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.87);
}
.item-rating ul{
    display: flex;
    list-style: none;
}
.item-rating ul li{
    margin-right: 5px;
}
.rating{
    margin-left: 5px;
}
.item-rating, .item-description{
    font-weight: 700;
    font-size: 14px;
    color: #787885;
}


/* project info section */

.project-cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 50px auto;
}
.project-card{
    width: 241px;
    border: 1px solid var(--primary);
    text-align: center;
    padding: 45px 35px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.project-card .span-1{
    margin: 10px auto;
    color: #2b2b2b;
    font-weight: 800;
}
.project-para{
    font-size: 20px;
    font-weight: 600;
    color: var(--font-color);
}
/* sponsor images */

.sponsor-imgs{
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.img-filter{
    /* margin: 50px; */
    padding: 50px;
    filter: grayscale();
    border-radius: 10px;
    cursor: pointer;
}
.img-filter:hover{
    filter: none;
    transition-duration: 0.5s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    filter: saturate(5);

}

.footer{
    background-color: var(--secondary);
    text-align: center;
    margin: 100px auto;
}
.footer p{
    padding: 50px;
}

/* ---------------------------------------------------------------- 
                        Media query
 ---------------------------------------------------------------- */

 @media only screen and (max-width: 576px) {
    .item-1, .item-2, .item-3{
        display: none;
        padding-right: 0px;
    }
    .banner-content{
        width: auto;
    }
    /* feature section */
    .feature-section{
        flex-direction: column-reverse;
        margin-top: 50px;
    }
    .feature-content{
        text-align: center;
    }
    /* experience section */
    .experience-section{
        flex-direction: column;
    }
    .exp-cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 10px;
        column-gap: 10px;
    }
    .card{
        margin-top: 0;
    }

    /* sponsor */
    .img-filter{
        padding: 20px;
    }
 }